In [22]:
# !pip install yfinance

In [ ]:
import yfinance as yf
import pandas as pd


tickers = [
    "AAPL", "MSFT", "GOOGL", "NVDA", "TSLA", "JNJ", "PFE", "UNH", "XOM",
    "CVX", "JPM", "GS", "AMZN", "WMT", "MCD", "KO", "NKE", "BA", "CAT", "SOFI"
]


start_date = "2021-01-01"  
end_date = "2024-12-31"    
data_frequency = "1d"       


stock_data = yf.download(tickers, start=start_date, end=end_date, interval=data_frequency)[["Open", "High", "Low", "Close", "Volume"]]


stock_data.columns = [f"{ticker} - {field}" for field, ticker in stock_data.columns]


stock_data.reset_index(inplace=True)


ordered_columns = ["Date"]  
for ticker in sorted(tickers):  
    for field in ["Open", "High", "Low", "Close", "Volume"]:
        ordered_columns.append(f"{ticker} - {field}")


stock_data = stock_data[ordered_columns]


stock_data.to_csv("stock_prices.csv", index=False)

print("Stock data successfully downloaded and saved as 'stock_prices.csv'.")

[*********************100%***********************]  20 of 20 completed

Stock data successfully downloaded and saved as 'stock_prices.csv'.

In [24]:
stock_data

,Date,AAPL - Open,AAPL - High,AAPL - Low,AAPL - Close,AAPL - Volume,AMZN - Open,AMZN - High,AMZN - Low,AMZN - Close,...,WMT - Open,WMT - High,WMT - Low,WMT - Close,WMT - Volume,XOM - Open,XOM - High,XOM - Low,XOM - Close,XOM - Volume
0,2021-01-04,130.419814,130.507720,123.816772,126.405243,143301900,163.500000,163.600006,157.201004,159.331497,...,45.370182,46.184520,45.363896,46.071331,32182200,34.809497,35.481332,34.431589,34.851486,27764700
1,2021-01-05,125.897308,128.681140,125.447982,127.968079,97664900,158.300507,161.169006,158.253006,160.925507,...,46.093344,46.241119,45.429926,45.826088,26498100,35.137012,37.622803,35.128615,36.531071,44035100
2,2021-01-06,124.754474,128.007157,123.445584,123.660477,155088000,157.324005,159.875504,156.557999,156.919006,...,45.618572,46.564963,45.593417,46.112202,21918900,37.295286,37.874743,36.699032,37.463245,36484800
3,2021-01-07,125.379616,128.573694,124.891225,127.880173,109578200,157.850006,160.427002,157.750000,158.108002,...,46.414042,46.458059,45.917263,46.109055,20538000,37.790760,38.269443,37.396056,37.757168,29528100
4,2021-01-08,129.355145,129.550513,127.206229,128.983978,105158200,159.000000,159.531998,157.110001,159.134995,...,46.181367,46.219098,45.844942,46.102764,24478200,37.958725,38.479397,37.748777,38.177071,28628200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,2024-12-23,254.490204,255.369227,253.171646,254.989655,40858800,225.009995,226.880005,223.899994,225.059998,...,91.500000,91.500000,88.910004,90.349998,26205400,104.376384,105.654948,103.989842,105.357613,12285100
1000,2024-12-24,255.209412,257.926411,255.009620,257.916443,23234700,226.940002,229.139999,226.130005,229.050003,...,90.370003,92.680000,90.349998,92.680000,8992400,105.575650,106.239716,104.762920,105.456718,7807000
1001,2024-12-26,257.906429,259.814335,257.347047,258.735504,27237100,228.500000,228.500000,226.669998,227.050003,...,92.540001,92.879997,92.169998,92.790001,10994000,105.575654,106.081135,105.000802,105.545921,9652400
1002,2024-12-27,257.546826,258.415896,252.782075,255.309296,42355300,225.600006,226.029999,220.899994,223.750000,...,92.129997,92.349998,91.029999,91.660004,11384400,105.357606,107.032618,104.832299,105.536011,11943900
1003,2024-12-30,251.952985,253.221595,250.474615,251.923019,35557500,220.059998,223.000000,218.429993,221.300003,...,90.730003,91.070000,90.129997,90.570000,9790200,105.357609,105.615298,104.574612,104.822395,11080800

In [25]:
stock_data.isna().sum()

Date            0
AAPL - Open     0
AAPL - High     0
AAPL - Low      0
AAPL - Close    0
               ..
XOM - Open      0
XOM - High      0
XOM - Low       0
XOM - Close     0
XOM - Volume    0
Length: 101, dtype: int64

In [26]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    # print(stock_data.isna().sum())
    print(stock_data.columns)

Index(['Date', 'AAPL - Open', 'AAPL - High', 'AAPL - Low', 'AAPL - Close',
       'AAPL - Volume', 'AMZN - Open', 'AMZN - High', 'AMZN - Low',
       'AMZN - Close',
       ...
       'WMT - Open', 'WMT - High', 'WMT - Low', 'WMT - Close', 'WMT - Volume',
       'XOM - Open', 'XOM - High', 'XOM - Low', 'XOM - Close', 'XOM - Volume'],
      dtype='object', length=101)

In [27]:
stock_data[~stock_data['SOFI - Open'].isna()][['Date', 'SOFI - Open']]

           Date  SOFI - Open
0    2021-01-04    12.590000
1    2021-01-05    12.150000
2    2021-01-06    12.150000
3    2021-01-07    12.200000
4    2021-01-08    21.459999
...         ...          ...
999  2024-12-23    15.500000
1000 2024-12-24    15.730000
1001 2024-12-26    15.980000
1002 2024-12-27    16.389999
1003 2024-12-30    15.570000

[1004 rows x 2 columns]